/**
  * @name Dark+
  * @author DevEvil#8745
  * @version Dark+3
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
  --darkplus-bg: #302f2f;
  --darkplus-bg2: #3d3c3c;
  --darkplus-sec: #a6d8fd;
  --darkplus-links: ##a6d8fde;
  --darkplus-home-icon: url(https://https://cdn.discordapp.com/attachments/796065674073997332/1199483129694519567/dicorysd.png);
 --watermark-filter-invert: 10%;
  --watermark-filter-sepia: 80%;
  --watermark-filter-saturate: 20%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 0%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 900eg;
}
